.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    min-height 580px
    padding-bottom 70px
    +below($tablet)
        min-height auto
        padding-bottom 50px
    +mobile()
        padding-bottom 35px

.video-wrapper
    position relative
    padding-bottom 56.25%
    height 0
    overflow hidden
    max-width 100%
    iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%

.erro
.sucesso
    width 100%
    display block
    background #dc4747
    padding 15px 20px
    lato 13
    text-transform uppercase
    color #fff
    border-radius 4px
    margin-bottom 10px
    line-height 1.5
    text-align left
.sucesso
    background #5cad5c

.form-padrao
    width 100%
    .row
        margin-bottom 5px
        display flex
        label
            background $cinza
            color #fff
            lato 12 medium
            padding-right 10px
            width 150px
            margin-right 5px
            display flex
            align-items center
            justify-content flex-end
            &.lg
                width 280px
        input
        select
            flex 1
            background #fff
            padding 0 10px
            lato 14 medium
            color darken($cinza, 6)
            outline 0
            border 0
            height 40px
    input[type=submit]
        display block
        width 100%
        text-align center
        lato 14
        color $cinza
        border 1px solid $cinza
        background transparent
        cursor pointer
        transition .3s
        padding 16px
        margin-top 10px
        outline 0
        &:hover
            background rgba(#fff, .7)
            transform translateY(-3px)
            box-shadow 0 1px 3px rgba(#000, .15)
        &.submit-lg
            font-size 24px
    +mobile()
        .row
            display block
            label
                width 100% !important
                height 40px
                justify-content flex-start
                padding-left 10px
                text-align left
            input
            select
                width 100%
        input[type=submit].submit-lg
            font-size 20px
