.landing
    padding-bottom 0
    section
        margin-bottom 100px
        +above($tablet)
            padding-top 120px
            &#home
                padding-top 220px
    h2
        display inline-block
        position relative
        lato 42 light
        color $laranja
        margin 0 0 .4em
        +above($mobile)
            &:after
                content ''
                position absolute
                width 70px
                height 1px
                background $laranja
                bottom 8px
                right -85px
    h3
        lato 36 light
        color $cinza
        margin 0 0 .5em
    p
        lato 16
        color $cinza
        margin 0
        line-height 1.75
        + p
            margin-top 1em
    p + h3
        margin-top 1.5em
    +mobile()
        section
            margin-bottom 65px
        h2
            font-size 25px
        h3
            font-size 20px
            font-weight normal
        p
            font-size 15px

.landing-chamada
    .chamadas
        margin-top 50px
        display flex
        max-width 1020px
        justify-content space-between
    .chamada
        display flex
        flex-direction column
        border 1px solid $laranja
        background #ffffff
        border-radius 5px
        width calc('33.333% - 20px')
        padding 35px
        text-align center
        transition transform .3s, box-shadow .3s
        h4
            display block
            lato 20 bold
            color $cinza
            margin 0 0 18px
            padding-bottom 18px
            position relative
            line-height 1.4
            &:after
                content ''
                position absolute
                bottom 0
                width 60px
                height 1px
                background $laranja
                left 50%
                margin-left -30px
        p
            margin-bottom 1.4em
        .seta
            display block
            width 18px
            height 15px
            margin auto auto 0
            background $img('setinha-link.png') no-repeat center left
    div.chamada .seta
        background-position center right
    a.chamada:hover
        transform translateY(-4px)
        box-shadow 0 2px 10px rgba(#000, .12)
    +below($tablet)
        .chamada
            padding 20px
            h4
                font-size 18px
    +mobile()
        .chamadas
            margin-top 25px
            display block
        .chamada
            width 100%
            + .chamada
                margin-top 15px
            h4
                font-size 17px

.landing-sobre
    p
        max-width 890px
        a
            color $laranja
    .caixas
        margin-top 50px
        display flex
        max-width 1020px
        justify-content space-between
        + h3
            margin-top 60px
            +mobile()
                margin-top 35px
    .caixa
        background $laranja
        border-radius 5px
        width calc('33.333% - 20px')
        padding 25px
        text-align center
        h4
            display block
            lato 24 bold
            color #fff
            margin 0 0 18px
            padding-bottom 18px
            position relative
            line-height 1.4
            &:after
                content ''
                position absolute
                bottom 0
                width 60px
                height 1px
                background rgba(#fff, .25)
                left 50%
                margin-left -30px
        p
            color #fff
    +below($tablet)
        .caixa
            padding 20px
            h4
                font-size 18px
    +mobile()
        .caixas
            margin-top 25px
            display block
        .caixa
            width 100%
            + .caixa
                margin-top 15px
            h4
                font-size 17px

.landing-contato
    .row
        display flex
        margin-top 15px
    .col
        + .col
            margin-left 80px
        p
            padding-left 28px
            font-weight bold
            a:hover
                color $laranja
            &.email
                background $img('ico-email.png') no-repeat center left
            &.sac
                background $img('ico-telefone.png') no-repeat center left
            &.whatsapp
                background $img('ico-whatsapp.png') no-repeat center left
            &.link
                background $img('ico-site.png') no-repeat center left
    +mobile()
        .row
            display block
        .col + .col
            margin-left 0
            margin-top 1em

.login
    h2
        display inline-block
        position relative
        lato 42 light
        color $laranja
        margin 0 0 .4em
        +above($mobile)
            &:after
                content ''
                position absolute
                width 70px
                height 1px
                background $laranja
                bottom 8px
                right -85px
    h3
        lato 24 light
        color $cinza
        margin 0 0 2em
    +mobile()
        h2
            font-size 25px
        h3
            font-size 18px
            font-weight normal
            margin-bottom 1.5em
    .wrapper
        max-width 600px
        p
            text-align center
            lato 16
            color $cinza
            margin 0 0 30px
    form
        text-align center
    .form-login-content
        display flex
        width 100%
        .fields
            margin-right 4px
            flex 1
            input
                display block
                width 100%
                background #fff
                outline 0
                border 0
                lato 16
                color $cinza
                height 50px
                padding 0 20px
                + input
                    margin-top 4px
        input[type=submit]
            background $img('seta-login.png') no-repeat center $cinza
            flex-basis 105px
            flex-shrink 0
            outline 0
            border 0
            text-indent -9999px
            cursor pointer
            transition background .3s
            &:hover
                background-color darken($cinza, 4)
    .btn-esqueci
        lato 12
        color $cinza
        display inline-block
        margin 10px 0 40px
        &:hover
            color darken($cinza, 10)
    .btn-cadastro
        display block
        text-align center
        lato 14
        color $cinza
        border 1px solid $cinza
        transition .3s
        padding 16px
        &:hover
            background rgba(#fff, .7)
            transform translateY(-3px)
            box-shadow 0 1px 3px rgba(#000, .15)
    .btn-login
        border 1px solid $laranja
        border-radius 6px
        background $img('seta-laranja.png') no-repeat bottom 43px right 32px #fff
        display flex
        flex-direction column
        justify-content center
        padding 0 32px
        lato 24 bold
        color $cinza
        transition .3s
        &:hover
            transform translateY(-3px)
            box-shadow 0 1px 3px rgba(#000, .15)
        span
            lato 18
            margin-bottom .5em
    .grid
        display grid
        grid-auto-flow column
        grid-template-columns repeat(3, 330px)
        grid-template-rows 140px auto
        grid-gap 10px 25px
    +mobile()
        .grid
            grid-template-columns 1fr
            grid-template-rows 120px auto 120px auto 120px auto
            *:nth-child(2)
                margin-bottom 10px
            *:nth-child(4)
                margin-bottom 10px
        .btn-login
            font-size 20px
            padding 0 24px
            background-position bottom 36px right 24px
            span
                font-size 16px
        .wrapper
            p
                font-size 15px
                margin-bottom 20px
        .form-login-content
            display block
            .fields
                margin 0 0 4px
                input
                    font-size 15px
                    padding 0 12px
                    height 42px
            input[type=submit]
                width 100%
                height 40px
                background-size 12px auto
        .btn-cadastro
            padding 12px
