.sobre
    .texto
        max-width 600px
    h1
        lato 36 light
        color $cinza
        margin 0 0 36px
        line-height 1.2
    p
        lato 16
        color $cinza
        margin 0
        + p
            margin-top 1.5em
    a
        color $laranja
        text-decoration underline
    +mobile()
        h1
            font-size 30px
            margin 0 0 24px
